django>=4.2,<5.0
pandas>=2.0
openpyxl>=3.1
whitenoise>=6.6        # servir archivos estáticos en producción
gunicorn>=21.0         # servidor WSGI producción
python-decouple>=3.8   # variables de entorno (.env)
pillow>=10.0           # imágenes (logos institucionales)
